{{> header }}

<style>
.container {
  margin-top: 30px;
}
.display_text {
  margin-bottom: 20px;
}
#signup {
  display: none;
}
.log_sign {
  cursor: pointer;
  padding-top: 20px;
}
input.l_username:focus, input.l_password:focus {
  border-bottom-color: #3F51B5;
}
[type="submit"] {
  margin-top: 10px;
  background-color: #3F51B5;
}
</style>

<div class="container">
    <div class="notes_wrapper row">

      <div id="login">
        <div class="register cua ">
          <div class="display_text">
            <h5>Get started again</h5>
          </div>
          <form class="form_login">
            <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false'
              placeholder='Username'>
            <input type="password" name="password" value="" class="l_password" required placeholder='Password'>
            <input type="submit" name="" value="Login to continue" class="l_submit waves-effect waves-light btn">
          </form>
        </div>
        <div class="log_sign">
          <a onclick="this.parentNode.parentNode.style.display = 'none';document.getElementById('signup').style.display = 'block'" class="pri_btn">Need an account?</a>
        </div>
      </div>

      <div id="signup">
        <div class="register cua">
          <div class="display_text">
            <h5>Get started now and let the fun begins</h5>
          </div>
          <form class="form_register">
            <input type="text" name="username" value="" class="r_username" autofocus spellcheck="false" autocomplete='false' placeholder='Username' required>
            <input type="password" name="password" value="" class="r_password" placeholder='Password' required>
            <input type="submit" name="" value="Signup for free" class="r_submit waves-effect waves-light btn">
          </form>
        </div>
        <div class="log_sign">
          <a onclick="this.parentNode.parentNode.style.display = 'none';document.getElementById('login').style.display = 'block'" class="pri_btn">Already have an account?</a>
        </div>
      </div>

    </div>
  </div>

{{> appFooter }}
