#footer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  color: #fff;
  background-color: #3f51b5;
  height: 80px;

}

#footer > div {
  flex: 1;
  flex-grow: 1;
  align-self: center;
  justify-content: flex-end;
  text-align: center;
}
