#dragCover {
  position: relative;
  display: inline-block;
}

#DND {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

#DND  > div {
  padding: 10px;
  display: flex;
  justify-content:  space-between;
  align-items: center;
}

#dashBoard {
  border: dashed grey 4px;
  background-color: rgba(255,255,255,.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#dashBoard > div {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  color: grey;
  font-size: 36px;
}
