div.textField {
  flex-direction: row;
  /* justify-content: space-around; */
  width: 100%
}

div.textField > button {
  /* margin-left: 20px; */
  margin: 20px;
  /* align-self: center; */
}

div.selectWrap {
  min-width: 120px
}

/* .imageWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .image {
  width: 120px;
  height: 120px;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
} */

.image:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

#btn:hover {
  color: #3F51B5;
  width: 100%
}

#upload-btn-wrapper #uploadFile {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
